* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: rgb(43, 43, 77);
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
